
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<form id="data">
  <fieldset>
    <div>Asset File: <input type="file" id="hdd_sn" accept="image/*" capture="environment"></div>
    <div>Asset File: <input type="file" id="monitor_sn" accept="image/*" capture="environment"></div>
    <div><input type="submit" value="Submit"></div>
  </fieldset>
</form>


<script>
$(function() {

  $("form#data").submit(function(event){

    event.preventDefault();

    var url  = '/barcodes';
    
    var hdd_sn_img = $('#hdd_sn').get(0).files[0];
    var monitor_sn = $('#monitor_sn').get(0).files[0];

    var formData = new FormData();
    formData.append("hdd_sn", hdd_sn_img);
    formData.append("monitor_sn", monitor_sn)
    
    $.ajax({
      url: url,
      type: 'POST',
      data: formData,
      async: false,
      cache: false,
      contentType: false,
      processData: false,
      success: function (status) {
        // do something on success
      }
    });

    return false;

  });

});

</script>