{% extends "layout.html" %}
<style type="text/css">
   mark{
      background: lime;
      color:      black;
      padding:    0;
   }
</style>

{% block nav_form %}
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2"  name="keyword"  type="text" id="search_me" placeholder="Search on page" aria-label="Search">
    <button id="btnExport" onclick="Export('remote_users', 'inventory.pdf')" class="btn btn-outline-success my-2 my-sm-0 hide_mobile" type="button">Export table to pdf</button>
  </form>
{% endblock %}

{% block content %}
  <div class="context">
    {% if inventory_data|length and 'remote_user' in inventory_data|string %}
      <table class="table table-responsive-lg table-bordered table-hover" id="remote_users" style="background-color: white">
        <thead class="thead-dark">
          <tr>
             <th class="hide_mobile" scope="col">Inventory ID</th>
             <th scope="col">UserName</th>        
             <th scope="col">Room</th>      
             <th class="hide_mobile" scope="col">Processor</th> 
             <th class="hide_mobile" scope="col">RAM</th>         
             <th class="hide_mobile" scope="col">Display</th>       
             <th class="hide_mobile" scope="col">Display SN</th>
             <th class="hide_mobile" scope="col">HardDisk</th>
             <th class="hide_mobile" scope="col">Disk SN</th>
             <th scope="col">AdditionalInfo</th>      
          </tr>
        </thead>
        <tbody>
          {% for i in inventory_data %}
            {% if i['type'] == 'remote_user' %}
              <tr>
                <td class="hide_mobile"><a href="{{ url_for('edit_data', inv_id=i['InvID']) }}">{{ i['InvID'] }}</a></td>
                <td>{{ i['UserName'] }}</td>
                <td>{{ i['Room'] }}</td>
                <td class="hide_mobile">{{ i['Processor'] }}</td>
                <td class="hide_mobile">{{ i['RAM'] }}</td>
                <td class="hide_mobile">{{ i['Display'] }}</td>
                <td class="hide_mobile">{{ i['DisplaySerialNumber'] }}</td>
                <td class="hide_mobile">{{ i['HardDisk'] }}</td>
                <td class="hide_mobile">{{ i['HardDiskSerialNumber'] }}</td>
                <td >{{ i['AdditionalInfo'] }}<p class="hide_for_pc"><a href="{{ url_for('add_info', inv_id=i['InvID']) }}">Additional Information</a></p></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p><h3>Inventory data is empty, click <a href="{{ url_for('index') }}">here</a> for add new data</h1></p>
    {% endif %}
  </div>
{% endblock %}
